mainmenu "Main Menu"

comment "This is a comment to help to structure menu"

choice
	prompt "Choice LED on/off"
	default LED_ON
	help
		This is a help choice LED on/off
		

	config LED_ON
		bool "led is on!"

	config LED_OFF
		bool "led is off!"
		select SHOW_MORE
		help
			show more info.
endchoice

config SHOW_MORE
	bool



menuconfig	TEST1
	bool "chose test or not"
if TEST1
	source src/test/Kconfig
endif

comment "This item is visible only if the third option is selected"

menu "test 2"
	source src/test2/Kconfig

	config ITEM1
		bool "Item 1 - enables additional options"
		default n

	config ITEM2
		depends on ITEM1
		bool "Item 2 - depends on item 1"
		default n

	config ITEM3
		bool "Item 3 - is set automatically"
		default n

	config ITEM4
		bool "Item 4 - reverse dependancy"
		select ITEM3
		default n
endmenu

comment "Some different config types"
config STRING_PARAM
	string "String Parameter"

config NUM_PARAM
	int "Integer parameter between 0 an 100"
	range 0 100

config NUM_PARAM2
	int "HEX parameter"

config TRISTATE_PARAM
	tristate "Three states"

menu "Subconfmenu"
	source src/Kconfig
	source src/test/Kconfig
endmenu
